
<div class="modal fade" id="kadyot_client_search_modal" role="dialog" aria-labelledby="showLoadLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Client Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="kadyot_client_search_content">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-success" onclick="$('#kadyot_search_client').submit();">Search</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="kadyot_account_total_modal" role="dialog" aria-labelledby="showLoadLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 1100px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Total</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="kadyot_account_total_content">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>