<h4>Accounts</h4>
<div class="scroll-me">
  <table class="table table-striped table-bordered display nowrap">
    <thead>
    <tr>
      <th>Day</th>
      <th>PO</th>
      <th>Re</th>
      <th>Re%</th>
      <th>Sold</th>
      <th>Sales%</th>
      <th>Price</th>
      <th>T.Amount</th>
      <th>T.Cash</th>
      <th>Bal.</th>
      <th>Date paid</th>
      <th>Paid</th>
      <th>Type</th>
      <th>B.Name</th>
      <th>Check #</th>
      <th>D.Issued</th>
      <th>RS #</th>
      <th>PR #</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% if params[:action] == "new" %>
      <%= form_for(@account) do |f| %>
        <%= f.hidden_field :yr, :value => @selected_year %>
        <%= f.hidden_field :mon, :value => @selected_month %>
        <%= f.hidden_field :id_client, :value => @client.id %>
        <tr>
          <td><%= f.number_field :day, :class => "form-control adjust-input-width" %></td>
          <td><%= f.number_field :po, :class => "form-control adjust-input-width" %></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td> <%= f.submit "Save", :class => "btn btn-primary btn-xs" %></td>
          <td><%= link_to 'Back', kadyot_accounts_path, :class => "btn btn-danger btn-xs" %></td>

        </tr>
      <% end %>
    <% elsif params[:action] == "edit" %>
      <%= form_for(@account) do |f| %>
        <tr>
          <td><%= @account.day %></td>
          <td><%= @account.po %><%= f.hidden_field :po, id: "account_po", :value => @account.po, :class => "form-control adjust-input-width" %></td>
          <td><%= f.number_field :re, id: "account_re", :class => "form-control adjust-input-width" %></td>
          <td></td>
          <td><%= f.text_field :sold, id: "account_sold", :readonly => true, :class => "form-control adjust-input-width "%></td>
          <td></td>
          <td><%= f.select :price, @prices.collect { |s| [s.price, s.price] }, {prompt: 'Select'}, :class => "form-control adjust-input-width", id: "account_price" %></td>
          <td><%= f.text_field :tamount, id: "account_tamount", :readonly => true, :class => "form-control adjust-input-width", :step => 'any' %></td>
          <td><%= f.number_field :tcash, id: "account_tcash", :class => "form-control adjust-input-width", :step => 'any' %></td>
          <td><%= f.text_field :bal, id: "account_bal", :readonly => true, :class => "form-control adjust-input-width", :step => 'any' %></td>
          <td><%= f.text_field :date_paid, class: 'form-control  adjust-input-width datepicker-autoClose', 'data-inputmask' => "'alias': 'mm/dd/yyyy'", value: get_date_format(@account.date_paid) %></td>
          <td><%= f.check_box :paid %></td>
          <td><%= f.select :payment_type, options_for_select(['Full', 'Partial', 'w/ Balance'], @account.payment_type),{:include_blank => true}, class: 'form-control adjust-input-width' %></td>
          <td><%= f.text_field :bank_name, :class => "form-control adjust-input-width" %></td>
          <td><%= f.text_field :check_num, :class => "form-control adjust-input-width" %></td>
          <td><%= f.date_field :date_issued, :class => "form-control", value: @account.date_issued ? @account.date_issued.to_date.strftime('%Y-%m-%d').to_s : '' %></td>
          <td><%= f.text_field :rsnum, :class => "form-control adjust-input-width" %></td>
          <td> <%= f.text_field :prnum, :class => "form-control adjust-input-width" %></td>
          <td><button type="submit" name="commit" value="" class="btn btn-success btn-xs"><i class="fas fa-save"></i></button></td>
          <td><a class="btn btn-danger btn-xs" href="<%= kadyot_accounts_path %>"><i class="fa fa-ban" aria-hidden="true"></i></a></td>

        </tr>
      <% end %>
    <% end %>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.day %></td>
        <td><%= account.po %></td>
        <td><%= account.re %></td>
        <td><b><%= get_return_percentage(account.po, account.re) %>%</b></td>
        <td><%= account.sold %></td>
        <td><b><%= get_sale_percentage(account.po, account.re) %>%</b></td>
        <td><%= account.price %></td>
        <td><%= account.tamount %></td>
        <td><%= account.tcash %></td>
        <td><b><%= account.bal %></b></td>
        <td><%= get_date_format(account.date_paid) %></td>
        <td>
          <% if account.paid == '1' %>
            <i class="fas fa-check fa-2x" style="color:#3c763d;"></i>
          <% else %>
            <i class="fas fa-times fa-2x" style="color:#dd4b39;"></i>
          <% end %>
        </td>
        <td><%= account.payment_type %></td>
        <td><%= account.bank_name %></td>
        <td><%= account.check_num %></td>
        <td><%= account.date_issued %></td>
        <td><%= account.rsnum %></td>
        <td><%= account.prnum %></td>
        <td ><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_kadyot_account_path(account), :class => "btn btn-warning btn-xs" %></td>
        <td><%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, account, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
