<%= form_with(url: search_kadyot_accounts_path, local: true, :html => {class: 'form-horizontal', id: 'kadyot_search_client', 'data-parsley-validate' => true}) do |form| %>

  <div class="form-group row m-b-15">
    <%= form.label :id_client, 'Client Name:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
    <div class="col-md-9 col-sm-8">
      <%= form.select :id_client, KadyotClient.order("lname ASC").collect {|r| [ "#{format_client_name(r.lname, r.fname)}", r.id ] },{:include_blank => true}, class: 'form-control static-dropdown'%>
    </div>
  </div>

<% end %>