<style>
  div.link a:visited {
    color: #dd8b00!important;
  }
  div.link a {
    text-decoration: underline;
  }
  @media (max-width: 767px) {
    label {
      text-align: left!important;
    }
  }
  label {
    text-align: right;
  }
</style>
<!-- begin page-header -->
<div class="header-darkblue">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "Latest Summary Report"%>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->
<%= render 'modals' %>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">
      Accounts
    </h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered display nowrap table-as-datatable">
      <thead>
      <tr>
        <th>Name</th>
        <th>Overall Balance</th>
        <th>Latest Date Paid</th>
      </tr>
      </thead>

      <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= account.client_name.titleize %></td>
          <td><%= account.bal %></td>
          <td><%= account.date_paid %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

  </div>
</div>

<!-- end panel -->