<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: params[:action] == 'new' ? 'Create New Client' : "Edit Client " %>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->
<%= form_with(model: client, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn"></div>
          <h4 class="panel-title">Information<%= params[:action] == 'edit' ? " - #{client.fname} #{client.lname}" : "" %></h4>
        </div>
        <div class="panel-body">
          <% if client.errors.any? %>
            <div class="form-group row m-b-15">
              <div class="col-md-12 col-sm-12">
                <div class="alert alert-danger" role="alert">
                  <h4 class="alert-heading"><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h4>
                  <ul>
                    <% client.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            </div>
          <% end %>
          <h4 class="text-inverse">Details</h4>
          <div class="form-group row m-b-15">
            <%= form.label :fname, 'First Name:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :fname, class: 'form-control', 'data-parsley-required' => true %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :mi, 'Middle Name:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :mi, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :lname, 'Last Name:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :lname, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :pnum, 'Phone #:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :pnum, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :tnum, 'Telephone Number:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :tnum, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :address, 'Address:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.text_field :address, class: 'form-control' %>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <div class="col-md-2"></div>
            <div class="col-md-9 col-sm-12 d-flex justify-content-end">
              <%= form.submit 'Submit', :class => 'btn btn-primary' %>
              &nbsp;&nbsp;<%= link_to 'Back', kadyot_clients_path, :class => 'btn btn-info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<!-- end panel -->

