<div class="login-header">
  <div class="brand" style="text-align: center;">
    <img src="<%= asset_path('logo.png') %>"  class="logo-img" style="height: 250px;">
    <small>Please sign in your account</small>
  </div>
  <div class="icon">
    <i class="fa fa-sign-in"></i>
  </div>
</div>
