<table class="table table-striped table-bordered display nowrap">
  <thead>
  <tr>
    <th></th>
    <th><b>PO</b>&nbsp;<i>(pcs)</i></th>
    <th><b>Return</b>&nbsp;<i>(pcs)</i></th>
    <th><b>Return</b>&nbsp;<i>(%)</i></th>
    <th><b>Sold</b>&nbsp;<i>(pcs)</i></th>
    <th><b>Sales</b>&nbsp;<i>(%)</i></th>
    <th><b>Total Amount</b>&nbsp;<i>(₱)</i></th>
    <th><b>Total Cash</b>&nbsp;<i>(₱)</i></th>
    <th><b>Balance</b>&nbsp;<i>(₱)</i></th>
  </tr>
  </thead>

  <tbody>
  <tr>
    <td><b><%= get_month_name @selected_month %></b>&nbsp;<i>(current selected month)</i></td>
    <td><%= @account_month[0] && (beautify_numbers @account_month[0].po) %></td>
    <td><%= @account_month[0] && (beautify_numbers @account_month[0].re) %></td>
    <td><b>&nbsp<%= @account_month[0] && (get_return_percentage(@account_month[0].po, @account_month[0].re)) %> %</b></td>
    <td><%= @account_month[0] && (beautify_numbers @account_month[0].sold) %></td>
    <td><b>&nbsp<%= @account_month[0] && (get_sale_percentage(@account_month[0].po, @account_month[0].re)) %> %</b></td>
    <td>₱&nbsp;<%= @account_month[0] && (beautify_numbers @account_month[0].tamount) %></td>
    <td>₱&nbsp;<%= @account_month[0] && (beautify_numbers @account_month[0].tcash) %></td>
    <td><b>₱&nbsp;<%= @account_month[0] && (beautify_numbers @account_month[0].bal) %></b></td>
  </tr>
  <tr>
    <td><b><%= @selected_year %></b>&nbsp;<i>(current selected year)</i></td>
    <td><%= @account_year[0] && (beautify_numbers @account_year[0].po) %></td>
    <td><%= @account_year[0] && (beautify_numbers @account_year[0].re) %></td>
    <td><b>&nbsp<%= @account_year[0] && (get_return_percentage(@account_year[0].po, @account_year[0].re)) %> %</b></td>
    <td><%= @account_year[0] && (beautify_numbers @account_year[0].sold) %></td>
    <td><b>&nbsp<%= @account_year[0] && (get_sale_percentage(@account_year[0].po, @account_year[0].re)) %> %</b></td>
    <td>₱&nbsp;<%= @account_year[0] && (beautify_numbers @account_year[0].tamount) %></td>
    <td>₱&nbsp;<%= @account_year[0] && (beautify_numbers @account_year[0].tcash) %></td>
    <td><b>₱&nbsp;<%= @account_year[0] && (beautify_numbers @account_year[0].bal) %></b></td>
  </tr>
  <tr>
    <td><b>Overall</b></td>
    <td><%= @account_overall[0] && (beautify_numbers @account_overall[0].po) %></td>
    <td><%= @account_overall[0] && (beautify_numbers @account_overall[0].re) %></td>
    <td><b>&nbsp<%= @account_overall[0] && (get_return_percentage(@account_overall[0].po, @account_overall[0].re)) %> %</b></td>
    <td><%= @account_overall[0] && (beautify_numbers @account_overall[0].sold) %></td>
    <td><b>&nbsp<%= @account_overall[0] && (get_sale_percentage(@account_overall[0].po, @account_overall[0].re)) %> %</b></td>
    <td>₱&nbsp;<%= @account_overall[0] && (beautify_numbers @account_overall[0].tamount) %></td>
    <td>₱&nbsp;<%= @account_overall[0] && (beautify_numbers @account_overall[0].tcash) %></td>
    <td><b>₱&nbsp;<%= @account_overall[0] && (beautify_numbers @account_overall[0].bal) %></b></td>
  </tr>

  </tbody>
</table>