<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <h3>
      <%= render 'layouts/static/print_logo'%>
    </h3>
  </div>
  <div class="col-md-12"
       style="text-align: center; margin-bottom: 20px">
    <h4>
      <u>Sales Report</u>
    </h4>
  </div>

  <div class="col-md-12" style="margin-bottom: 10px">
    <h4>
      <b>Monthly Total:</b>
    </h4>
    <h4 style="float: right;  margin-top: -35px; margin-right: 415px;">
      <b><%= return_month_name @selected_month %> - <%= @selected_year %></b>
    </h4>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <table class="table table-striped"
           style="margin-bottom: 20px;">
      <thead>
      <tr>
        <th class="danger">Per Order</th>
        <th>Return</th>
        <th>Re %</th>
        <th>Sold</th>
        <th>Sales %</th>
        <th>Total Amount</th>
        <th>Total Cash</th>
        <th>Balance</th>

      </tr>
      </thead>
      <tbody>
      <% @account_mon_sum.each do |account| %>
        <tr>
          <td><b><%= beautify_numbers account.po %></b></td>
          <td><b><%= beautify_numbers account.re %></b></td>
          <td><b>&nbsp<%= get_return_percentage(account.po, account.re) %> %</b></td>
          <td><b><%= beautify_numbers account.sold %></b></td>
          <td><b>&nbsp<%= get_sale_percentage(account.po, account.re) %> %</b></td>
          <td><b>₱&nbsp;<%= beautify_numbers account.tamount %></b></td>
          <td><b>₱&nbsp;<%= beautify_numbers account.tcash %></b></td>
          <td><b>₱&nbsp;<%= beautify_numbers account.bal %></b></td>
        </tr>
        <% break %>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <h4>
      <b>Data:</b>
    </h4>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>Name</th>
        <th>PO</th>
        <th>Re</th>
        <th>Re %</th>
        <th>Sold</th>
        <th>Sales %</th>
        <th>Total Amount</th>
        <th>Total Cash</th>
        <th>Balance</th>
      </tr>
      </thead>
      <tbody>
      <% @accounts.each do |account| %>
        <tr>
        <tr>
          <td><%= account.client_name.titleize %></td>
          <td><%= beautify_numbers account.po %></td>
          <td><%= beautify_numbers account.re %></td>
          <td><b>&nbsp<%= get_return_percentage(account.po, account.re) %> %</b></td>
          <td><%= beautify_numbers account.sold %></td>
          <td><b>&nbsp<%= get_sale_percentage(account.po, account.re) %> %</b></td>
          <td>₱&nbsp;<%= beautify_numbers account.tcash %></td>
          <td>₱&nbsp;<%= beautify_numbers account.tamount %></td>
          <td><b>₱&nbsp;<%= beautify_numbers account.bal %></b></td>

        </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>

<script>
    $(function() {
        window.print();
    });
</script>
</script>