<div class="row">
  <div class="col-md-12" style="text-align: center;">
    <h3>
      <%= render 'layouts/static/print_logo'%>
    </h3>
  </div>
  <div class="col-md-12"
       style="text-align: left;">
    <h4 style="float: left; margin-top: -70px;">
      <b style="font-size: 15px;">Please make your check payable to</b>
      <br/>
      <em style="text-decoration: underline; font-size: 23px;">JV-GO PUBLISHING HOUSE INC.</em>
    </h4>
  </div>
  <div class="col-md-12" style="text-align: right;">
    <h3 style="float: right; margin-top: -85px;">
      Tel. #: 8-332-3018 <i style="font-size: 15px">(Circulation)</i>
      <br/>
      Tel. #: 8-366-1771 <i style="font-size: 15px">(Accounting)</i>
    </h3>
  </div>
  <div class="col-md-12"
       style="text-align: center; margin-bottom: 20px">
    <h4>
      <u>STATEMENT OF ACCOUNTS</u>
    </h4>
  </div>
  <div class="col-md-12">
    <h4>
      <b><%= format_client_name(@client.lname, @client.fname) %> <%= @client.mi %></b>
    </h4>
    <h4 style="float: right; margin-top: -35px;"><%= @client.pnum %></h4>
  </div>
  <div class="col-md-12" style="margin-bottom: 20px">
    <h4><%= @client.address %></h4>
    <h4 style="float: right; margin-top: -35px;"><%= @client.tnum %></h4>
  </div>

  <div class="col-md-12" style="margin-bottom: 10px">
    <h4>
      <b>Monthly Total:</b>
    </h4>
    <h4 style="float: right;  margin-top: -35px; margin-right: 300px;">
      <b><%= return_month_name @selected_month %> - <%= @selected_year %></b>
    </h4>
    <h4 style="float: right; margin-top: -35px;">
      <b>Overall</b>
    </h4>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <table class="table table-striped"
           style="width: 80%; max-width: 100%; margin-bottom: 20px;">
      <thead>
      <tr>
        <th class="danger">Per Order</th>
        <th>Return</th>
        <th>Sold</th>
        <th>Total Amount</th>
        <th>Total Cash</th>
        <th>Balance</th>

      </tr>
      </thead>
      <tbody>
      <% @account_mon_sum.each do |account| %>
      <tr>
        <td><b><%= account.po %></b></td>
        <td><b><%= account.re %></b></td>
        <td><b><%= account.sold %></b></td>
        <td><b><%= account.tamount %></b></td>
        <td><b><%= account.tcash %></b></td>
        <td><b><%= account.bal %></b></td>
      </tr>
      <% break %>
      <% end %>
      </tbody>
    </table>

    <table class="table table-striped"
           style="width: 0px; float: right; margin-top: -74px;">
      <thead>
      <tr>

        <th>Balance</th>

      </tr>
      </thead>
      <tbody>
      <% @account_overall_sum.each do |account| %>
      <tr>

        <td><b><%= account.bal %></b></td>
      </tr>
      <% break %>
      <% end %>

      </tbody>
    </table>
  </div>
  <div class="col-md-12" style="margin-bottom: 10px">
    <h4>
      <b>Data:</b>
    </h4>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
      <tr>
        <th>Day</th>
        <th>PO</th>
        <th>Re</th>
        <th>Sold</th>
        <th>Price</th>
        <th>T.Cash</th>
        <th>T.Amount</th>
        <th>Bal.</th>
        <th>D.Paid</th>
        <th>Paid</th>
        <th>Type</th>
        <th>B.Name</th>
        <th>Check #</th>
        <th>D.Issued</th>
        <th>RS #</th>
        <th>PR #</th>
      </tr>
      </thead>
      <tbody>
      <% @accounts.each do |account| %>
      <tr>
          <tr>
            <td><%= account.day %></td>
            <td><%= account.po %></td>
            <td><%= account.re %></td>
            <td><%= account.sold %></td>
            <td><%= account.price %></td>
            <td><%= account.tcash %></td>
            <td><%= account.tamount %></td>
            <td><%= account.bal %></td>
            <td><%= check_for_two_dates(account.latest_date_paid, account.date_paid) %></td>
            <td>
              <% if account.paid %>
                  <i class="fa fa-check-circle-o fa-2" aria-hidden="true" style="color:#3c763d;"></i>
              <% end %>
            </td>
            <td><%= account.payment_type %></td>
            <td><%= account.bank_name %></td>
            <td><%= account.check_num %></td>
            <td><%= account.date_issued %></td>
            <td><%= account.rsnum %></td>
            <td><%= account.prnum %></td>

      </tr>
      <% end %>

      </tbody>
    </table>
  </div>
</div>

<div id="footer">
  <div style="width: 20%;"><b>Note:</b></div> <div style="height: 80px; width: 80%; border: 3px solid #000">
</div>

<script>
  $(function() {
    window.print();
  });
</script>
</script>