<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Client', new_kilatis_client_path, :class => "btn btn-light btn-xs" %>
    </div>
    <h4 class="panel-title lp-header">Clients</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap table-as-datatable">
      <thead>
      <tr class="odd gradeX">
        <th>Name</th>
        <th>Phone #</th>
        <th>Telephone #</th>
        <th>Address</th>
        <th data-orderable="false">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= format_client_name(client.lname, client.fname) %> <%= client.mi %></td>
          <td><%= client.pnum %></td>
          <td><%= client.tnum %></td>
          <td><%= client.address %></td>
          <td><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_kilatis_client_path(client), :class => "btn btn-warning btn-xs" %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, client, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->
