<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "#{@client.fname} #{@client.lname}", sub_header_title: ""  %>
  </h1>
  <span class="pull-right">
      <%= link_to 'Edit', edit_kilatis_client_path(@client), :class => 'btn btn-warning btn-xs', target: :_blank %>
      <%= link_to 'Back', kilatis_clients_path, :class => 'btn btn-info btn-xs' %>
  </span>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title"><%= @client.fname %> <%= @client.lname %></h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="col-md-3 col-form-label">Name:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @client.fname %> <%= @client.lname %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 col-form-label">Phone #:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @client.pnum %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 col-form-label">Telephone #:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @client.tnum %>
      </div>
    </div>
    <div class="row">
      <label class="col-md-3 col-form-label">Address:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @client.address %>
      </div>
    </div>
  </div>
</div>
