<p id="notice"><%= notice %></p>

<p>
  <strong>Id client:</strong>
  <%= @account.id_client %>
</p>

<p>
  <strong>Yr:</strong>
  <%= @account.yr %>
</p>

<p>
  <strong>Mon:</strong>
  <%= @account.mon %>
</p>

<p>
  <strong>Day:</strong>
  <%= @account.day %>
</p>

<p>
  <strong>Po:</strong>
  <%= @account.po %>
</p>

<p>
  <strong>Re:</strong>
  <%= @account.re %>
</p>

<p>
  <strong>Sold:</strong>
  <%= @account.sold %>
</p>

<p>
  <strong>Price:</strong>
  <%= @account.price %>
</p>

<p>
  <strong>Tcash:</strong>
  <%= @account.tcash %>
</p>

<p>
  <strong>Tamount:</strong>
  <%= @account.tamount %>
</p>

<p>
  <strong>Bal:</strong>
  <%= @account.bal %>
</p>

<p>
  <strong>Date paid:</strong>
  <%= @account.date_paid %>
</p>

<p>
  <strong>Paid:</strong>
  <%= @account.paid %>
</p>

<p>
  <strong>Rsnum:</strong>
  <%= @account.rsnum %>
</p>

<p>
  <strong>Prnum:</strong>
  <%= @account.prnum %>
</p>

<p>
  <strong>Addbal:</strong>
  <%= @account.addbal %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
