<!-- begin page-header -->
<!-- end page-header -->
<!-- begin panel -->
<div class="panel panel-inverse">
  <div class="panel-heading">
    <div class="panel-heading-btn">
      <%= link_to 'New Price', new_sagad_price_path, :class => "btn btn-light btn-xs" %>
    </div>
    <h4 class="panel-title lp-header">prices</h4>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-bordered data-table-buttons display nowrap table-as-datatable">
      <thead>
      <tr class="odd gradeX">
        <th>Price</th>
        <th data-orderable="false">Actions</th>
      </tr>
      </thead>
      <tbody>
      <% @prices.each do |price| %>
        <tr>
          <td><%= price.price %></td>
          <td><%= link_to '<i class="far fa-edit"></i>'.html_safe, edit_sagad_price_path(price), :class => "btn btn-warning btn-xs" %>
            <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, price, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger btn-xs" %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
<!-- end panel -->