<% if params[:controller].include? "sagad" %>
  <img src="<%= asset_path('logo/sagad-logo.jpg') %>" style="height: 100px !important;">
<% elsif params[:controller].include? "kadyot" %>
  <img src="<%= asset_path('logo/kadyot-logo.jpg') %>" style="height: 100px !important;">
<% elsif params[:controller].include? "viral" %>
  <img src="<%= asset_path('logo/viral-logo.jpg') %>" style="height: 100px !important;">
<% elsif params[:controller].include? "kilatis" %>
  <img src="<%= asset_path('logo/kilatis-logo.jpg') %>" style="height: 100px !important;">
<% end %>