<% if params[:controller].include? "sagad" %>
  <img src="<%= asset_path('logo/sagad-logo.jpg') %>" >
<% elsif params[:controller].include? "kadyot" %>
  <img src="<%= asset_path('logo/kadyot-logo.jpg') %>" >
<% elsif params[:controller].include? "viral" %>
  <img src="<%= asset_path('logo/viral-logo.jpg') %>" >
<% elsif params[:controller].include? "kilatis" %>
  <img src="<%= asset_path('logo/kilatis-logo.jpg') %>" >
<% else %>
  <i class="fas fa-globe text-danger"></i>&nbsp;<small class="version">(All)</small>
<% end %>