<div id="top-menu" class="top-menu">
    <!-- begin top-menu nav -->
    <ul class="nav bg-inverse">
      <% if params[:controller].include? 'sagad' %>
        <li><a href="<%= sagad_clients_path %>" class="<%= (params[:controller].include? 'clients') ? 'active' : ''%>"><i class="fas fa-users"></i> <span>Clients</span></a></li>
        <li><a href="<%= sagad_accounts_path %>" class="<%= (params[:controller].include? 'accounts') ? 'active' : ''%>"><i class="fas fa-file-invoice"></i> <span>Accounts</span></a></li>
        <li><a href="<%= sagad_prices_path %>" class="<%= (params[:controller].include? 'prices' ) ? 'active' : ''%>"><i class="fas fa-tags"></i> <span>Price</span></a></li>
      <% elsif params[:controller].include? 'kadyot' %>
        <li><a href="<%= kadyot_clients_path %>" class="<%= (params[:controller].include? 'clients') ? 'active' : ''%>"><i class="fas fa-users"></i> <span>Clients</span></a></li>
        <li><a href="<%= kadyot_accounts_path %>" class="<%= (params[:controller].include? 'accounts') ? 'active' : ''%>"><i class="fas fa-file-invoice"></i> <span>Accounts</span></a></li>
        <li><a href="<%= kadyot_prices_path %>" class="<%= (params[:controller].include? 'prices' ) ? 'active' : ''%>"><i class="fas fa-tags"></i> <span>Price</span></a></li>
      <% elsif params[:controller].include? 'viral' %>
        <li><a href="<%= viral_clients_path %>" class="<%= (params[:controller].include? 'clients') ? 'active' : ''%>"><i class="fas fa-users"></i> <span>Clients</span></a></li>
        <li><a href="<%= viral_accounts_path %>" class="<%= (params[:controller].include? 'accounts') ? 'active' : ''%>"><i class="fas fa-file-invoice"></i> <span>Accounts</span></a></li>
        <li><a href="<%= viral_prices_path %>" class="<%= (params[:controller].include? 'prices' ) ? 'active' : ''%>"><i class="fas fa-tags"></i> <span>Price</span></a></li>
      <% elsif params[:controller].include? 'kilatis' %>
        <li><a href="<%= kilatis_clients_path %>" class="<%= (params[:controller].include? 'clients') ? 'active' : ''%>"><i class="fas fa-users"></i> <span>Clients</span></a></li>
        <li><a href="<%= kilatis_accounts_path %>" class="<%= (params[:controller].include? 'accounts') ? 'active' : ''%>"><i class="fas fa-file-invoice"></i> <span>Accounts</span></a></li>
        <li><a href="<%= kilatis_prices_path %>" class="<%= (params[:controller].include? 'prices' ) ? 'active' : ''%>"><i class="fas fa-tags"></i> <span>Price</span></a></li>
      <% end %>
      <li><a href="<%= reports_path %>" class="<%= (params[:controller].include? 'reports' ) ? 'active' : ''%>"><i class="far fa-file-word"></i> <span>Reports</span></a></li>
      <li class="menu-control menu-control-left show">
        <a href="javascript:;" data-click="prev-menu"><i class="fa fa-angle-left"></i></a>
      </li>
      <li class="menu-control menu-control-right show">
        <a href="javascript:;" data-click="next-menu"><i class="fa fa-angle-right"></i></a>
      </li>
    </ul>
</div>
