<style>
  div.link a:visited {
    color: #dd8b00!important;
  }
  div.link a {
    text-decoration: underline;
  }
  @media (max-width: 767px) {
    label {
      text-align: left!important;
    }
  }
  label {
    text-align: right;
  }
</style>
<!-- begin page-header -->
<div class="header-darkblue">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "#{format_client_name(@client.lname, @client.fname)}", sub_header_title: ((@latest_account && !@latest_account.latest_date_paid.nil? && @latest_account.latest_date_paid.present? && !@latest_account.latest_date_paid.blank?) ? "| Latest Date Paid: #{@latest_account.latest_date_paid.to_date.strftime('%m/%d/%Y')}" : "") + (@latest_account ? " | Encoded Date Paid: #{@latest_account.mon}/#{@latest_account.day}/#{@latest_account.yr}" : "") %>
  </h1>
  <span class="pull-right">

    <%= link_to 'Latest Summary Report', latest_summary_report_sagad_accounts_path(mon: @selected_month, yr: @selected_year), :class => "btn btn-green btn-xs"   %>
    <%= link_to 'Print Sales Report', print_sales_report_sagad_accounts_path(mon: @selected_month, yr: @selected_year), :class => "btn btn-indigo btn-xs"   %>&nbsp;|&nbsp;
    <%= link_to 'Refresh', sagad_accounts_path, :class => "btn btn-secondary btn-xs" %>
    <%= link_to 'PDF', generate_pdf_sagad_accounts_path(:pdf, mon: @selected_month, yr: @selected_year), :class => "btn btn-success btn-xs" %>
    <%= link_to 'Print', print_sagad_accounts_path(id: @client, mon: @selected_month, yr: @selected_year), :class => "btn btn-danger btn-xs"   %>
    <button type="button" class="btn btn-purple btn-xs" id="sagad_search">Search Client</button>
    <button type="button" class="btn btn-lime btn-xs" id="sagad_show_totals" data-client_id="<%= @client.id %>" data-selected_year="<%= @selected_year %>" data-selected_month="<%= @selected_month %>">Show Totals</button>
    <%= link_to 'New Account', new_sagad_account_path(id: @client, mon: @selected_month, yr: @selected_year), :class => "btn btn-primary btn-xs" %>
  </span>
</div>
<!-- end page-header -->
<!-- begin panel -->
<%= render 'modals' %>
<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">
      &nbsp;
      <span class="pull-left">
        <%= form_tag search_by_name_sagad_accounts_path do %>
            <%= text_field_tag :lname, nil, placeholder: "Last Name" %>
            <%= text_field_tag :fname, nil, placeholder: "First Name" %>
          <%= submit_tag 'Search by Name', :class => "btn btn-primary btn-xs" %>
      <% end %>
      </span>
      <span class="pull-right">
      <%= form_tag search_by_month_sagad_accounts_path do %>
        <%= hidden_field_tag :client_id, @client.id %>
          <%= select_tag :mon, options_for_select([ ['January', 1], ['February', 2], ['March', 3], ['April', 4], ['May', 5], ['June', 6], ['July', 7], ['August', 8], ['September', 9], ['October', 10], ['November', 11], ['December', 12]], @selected_month), include_blank: "", :class => 'search-keypress' %> -
          <%= number_field_tag :yr, @selected_year %>&nbsp;
          <%= submit_tag 'Search Date', :class => "btn btn-info btn-xs" %>
      <% end %>
    </span>
    </h4>
  </div>
  <div class="panel-body">
    <%= render 'table'%>

  </div>
</div>

<!-- end panel -->


