<style type="text/css">
	.l-con span:nth-child(1) {
	  display: block;
	}
</style>
<!-- begin #page-loader -->
<%= render 'devise/static/loader'%>
  <!-- end #page-loader -->

  <!-- begin #page-container -->
  <div id="page-container" class="fade">
    <!-- begin login -->
    <div class="login login-with-news-feed">
      <!-- begin news-feed -->
      <%= render 'devise/static/logo'%>
      <!-- end news-feed -->
      <!-- begin right-content -->
      <div class="right-content">
        <!-- begin login-header -->
        <%= render 'devise/static/header', :header_title => "Please sign in."%>

        <!-- end login-header -->
        <!-- begin login-content -->
        <div class="login-content">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'margin-bottom-0'}) do |f| %>
	          <div class="form-group m-b-15">
	              <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => 'form-control form-control-lg', required: true, placeholder: 'E-mail' %>
	          </div>
	          <div class="form-group m-b-15">
	            <%= f.password_field :password, autocomplete: "current-password", :class => 'form-control form-control-lg', required: true, placeholder: 'Password' %>
	          </div>

	          <% if flash.alert %>
	          <div id=”error_explanation”>
		          <ul>
		           <li><%= flash.alert %></li>
		          </ul>
	          </div>
	          <% end %>

	          <% if devise_mapping.rememberable? -%>
	          	<div class="checkbox checkbox-css m-b-30">
	              <%= f.check_box :remember_me, :id => "remember_me_checkbox" %>
	              <label for="remember_me_checkbox">
	              	Remember Me
	              </label>
	          	</div>
	          <% end -%>

	          <div class="login-buttons">
	            <%= f.submit "Sign me in", :class => 'btn btn-success btn-block btn-lg' %>
	          </div>

	        <% end %>
          <%= render 'devise/static/links'%>
        </div>
        <!-- end login-content -->
      </div>
      <!-- end right-container -->
    </div>
    <!-- end login -->
  </div>
  <!-- end page container -->
