.logo-img {
  height: 150px;
  margin-left: 1%;
}
.logo-img-header {
  height: 105px;
  padding-bottom: 10px
}
.content {
  padding: 0;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: none;
  box-shadow: none;
  border-radius: 3px;
}
.panel-heading {
  padding: 15px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
}

.map {
  left: 0 !important;
}

.panel-heading-btn {
    float: right;
}
.panel .panel-heading {
  display: block;
}
.lp-header {
  padding-left: 5px;
  font-family: "Poppins", sans-serif !important;
  font-weight: 500;
  font-size: 20px !important;
}

.img-active {
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}