<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "Generate Reports" %>
  </h1>
</div>
<!-- end page-header -->
<!-- begin panel -->
<%= form_with(url: generate_reports_path, local: true, :html => {class: 'form-horizontal', 'data-parsley-validate' => true}) do |form| %>
  <div class="row">
    <div class="col-lg-12">
      <div class="panel panel-inverse">
        <div class="panel-heading">
          <div class="panel-heading-btn"></div>
          <h4 class="panel-title">Information</h4>
        </div>
        <div class="panel-body">
          <h4 class="text-inverse">Reports</h4>
          <div class="form-group row m-b-15">
            <%= form.label :report_type, 'Type of Report:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :report_type, options_for_select(['Cash Basis', 'One Issue', 'Two Issue', '15/30', 'Monthly']),{:include_blank => true}, class: 'form-control static-dropdown'%>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :client_name, 'Clients:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <%= form.select :client_name, @clients.collect {|r| [ "#{format_client_name(r.lname, r.fname)}", "#{r.lname}/#{r.fname}" ] },{:include_blank => false, :selected => ""}, class: 'form-control multi-static-dropdown', multiple: true%>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <%= form.label :date_range, 'Date Range:', class: 'text-right m-position-left col-md-2 col-sm-4 col-form-label' %>
            <div class="col-md-9 col-sm-8">
              <div class="input-group" id="default-daterange">
                <input type="text" name="default_daterange" class="form-control" value="" placeholder="click to select the date range" />
                <span class="input-group-append">
                  <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row m-b-15">
            <div class="col-md-2"></div>
            <div class="col-md-9 col-sm-12 d-flex justify-content-end">
              <%= form.submit 'Submit', :class => 'btn btn-primary' %>
              &nbsp;&nbsp;<%= link_to 'Back', kadyot_clients_path, :class => 'btn btn-info' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<script>
    $(function() {
        $('#default-daterange').daterangepicker({
            opens: 'right',
            format: 'MM/DD/YYYY',
            separator: ' to ',
            startDate: moment().subtract('days', 29),
            endDate: moment(),
        }, function (start, end) {
            $('#default-daterange input').val(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
        });
    });

</script>
<!-- end panel -->

