<div class="row">
  <div class="col-md-12"
       style="text-align: center;">
    <h4>
      <u><%= @report_type.upcase %></u>
    </h4>
  </div>
  <div class="col-md-12"
       style="text-align: center; margin-bottom: 20px">
    <h3>
      <b>JV-GO PUBLISHING HOUSE INC.</b>
    </h3>
  </div>

  <div class="col-md-12" style="text-align: right;">
    <h5 style="float: right; margin-top: -85px;">
      <br/>
      <i style="font-size: 15px"><%= Time.now.strftime('%B %d, %Y  %I:%M %p') %></i>
    </h5>
  </div>
  <div class="col-md-12">
    <table class="table table-bordered" style="text-align: center;">
      <thead>
      <tr>
        <th>Client</th>
        <th></th>
        <% @daterange.each do |current_date| %>
          <th colspan="2" ><%= current_date.strftime('%b. %d, %Y') %></th>
        <% end %>
      </tr>
      <tr>
        <th></th>
        <th></th>
        <% @daterange.each do |current_date| %>
          <th>Balance</th>
          <th>D.Paid</th>
        <% end %>
      </tr>
      </thead>
        <tbody>
        <% @client_names.each do |name| %>
          <% client = name.gsub('/', ', ') %>
          <% client_sagad_account = get_accounts(client, @sagad_accounts) %>
          <% client_kadyot_account = get_accounts(client, @kadyot_accounts) %>
          <% client_viral_account = get_accounts(client, @viral_accounts) %>
          <tr>
            <td><b><%= client %></b></td>
            <td>S</td>
            <% @daterange.each_with_index  do |current_date, index| %>
              <td style="font-size: 13px;"><%= client_sagad_account && client_sagad_account["balance_#{index+1}"] %></td>
              <td style="font-size: 11px; font-weight: bold;"><%= client_sagad_account && client_sagad_account["date_paid_#{index+1}"].to_date.strftime('%m/%d/%Y') %></td>
        <% end %>
          </tr>
          <tr>
            <td></td>
            <td>K</td>
            <% @daterange.each_with_index  do |current_date, index| %>
              <td style="font-size: 13px;"><%= client_kadyot_account && client_kadyot_account["balance_#{index+1}"] %></td>
              <td style="font-size: 11px; font-weight: bold;"><%= client_kadyot_account && client_kadyot_account["date_paid_#{index+1}"].to_date.strftime('%m/%d/%Y') %></td>
            <% end %>
          </tr>
          <tr>
            <td></td>
            <td>V</td>
            <% @daterange.each_with_index  do |current_date, index| %>
              <td style="font-size: 13px;"><%= client_viral_account && client_viral_account["balance_#{index+1}"] %></td>
              <td style="font-size: 11px; font-weight: bold;"><%= client_viral_account && client_viral_account["date_paid_#{index+1}"].to_date.strftime('%m/%d/%Y') %></td>
            <% end %>
          </tr>
        <% end %>

        </tbody>
    </table>
  </div>
</div>

<script>
  $(function() {
    window.print();
  });
</script>
</script>