<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Statement of Accounts | Print</title>
  <%= favicon_link_tag 'favicon.png', type: 'image/png' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <style>
    body {
      font-size: 14px;
    }
    @media print {
      @page {
        size:216mm 330mm;
        margin: 0;
      }
      .table>thead>tr>th,.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>td,.table>tbody>tr>td,.table>tfoot>tr>td{padding:2px;line-height:1.42857143;vertical-align:top;border-top:0px solid #ddd}

    }
    .img {
      height: 100px !important;
    }
    #footer {
      /*position:fixed;*/
      left:0px;
      bottom:0px;
      height:120px;
      width:100%;
    }
  </style>

</head>
<body>
<div class="container">
      <%= yield %>
</div>

</body>
</html>
