<div class="header-scout">
  <h1 class="pull-left">
    <%= render 'layouts/static/header', header_title: "#{@price.price}", sub_header_title: ""  %>
  </h1>
  <span class="pull-right">
    <%= link_to 'Edit', edit_kadyot_price_path(@price), :class => 'btn btn-warning btn-xs', target: :_blank %>
    <%= link_to 'Back', kadyot_prices_path, :class => 'btn btn-info btn-xs' %>
  </span>
</div>

<div class="panel panel-inverse">
  <div class="panel-heading">
    <h4 class="panel-title">Price</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <label class="col-md-3 col-form-label">Price:</label>
      <div class="col-md-9 lbl-padding-t">
        <%= @price.price %>
      </div>
    </div>
  </div>
</div>